<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayName</key>
	<string>Apple Mobile Device</string>
    <key>ImagePath</key>
    <string>iPodSyncClientImages.icns</string>
	<key>Entities</key>
	<dict>
        <key>com.apple.bookmarks.Folder</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>name</string>
			<string>parent</string>
            <string>position</string>
		</array>
		<key>com.apple.bookmarks.Bookmark</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>name</string>
			<string>url</string>
			<string>parent</string>
			<string>position</string>
		</array>
		<key>com.apple.calendars.Calendar</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>title</string>
            <string>read only</string>
		</array>
		<key>com.apple.calendars.Event</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
            <string>calendar</string>
			<string>summary</string>
			<string>location</string>
			<string>description</string>
			<string>original date</string>
			<string>start date</string>
			<string>end date</string>
			<string>exception dates</string>
			<string>all day</string>
			<string>main event</string>
		</array>
        <!-- rdar://problem/5081217 Sync Calendar Tasks -->
		<!--key>com.apple.calendars.Task</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
            <string>calendar</string>
			<string>summary</string>
			<string>priority</string>
			<string>completion date</string>
			<string>due date</string>
            <string>due date is date only</string>
		</array-->
		<key>com.apple.calendars.AudioAlarm</key>
		<array>
            <string>com.apple.syncservices.RecordEntityName</string>
            <string>triggerdate</string>
            <string>triggerduration</string>
            <string>owner</string>
		</array>
		<key>com.apple.calendars.DisplayAlarm</key>
		<array>
            <string>com.apple.syncservices.RecordEntityName</string>
            <string>triggerdate</string>
            <string>triggerduration</string>
            <string>description</string>
            <string>owner</string>
		</array>
		<key>com.apple.calendars.Recurrence</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
            <string>frequency</string>
            <string>until</string>
            <string>count</string>
            <string>interval</string>
            <string>weekstartday</string>
            <string>byweeknumber</string>
            <string>bymonth</string>
            <string>byyearday</string>
            <string>bymonthday</string>
            <string>bydayfreq</string>
            <string>bydaydays</string>
            <string>bysetpos</string>
            <string>owner</string>
		</array>
		<key>com.apple.contacts.Group</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>name</string>
			<string>members</string>
		</array>
		<key>com.apple.contacts.Contact</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>first name</string>
			<string>last name</string>
			<string>middle name</string>
			<string>title</string>
			<string>suffix</string>
			<string>nickname</string>
			<string>first name yomi</string>
			<string>last name yomi</string>
			<string>middle name yomi</string>
            <string>company name</string>
			<string>job title</string>
            <string>department</string>
			<string>notes</string>
			<string>birthday</string>
			<string>display as company</string>
			<string>image</string>
		</array>
		<key>com.apple.contacts.URL</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>label</string>
			<string>type</string>
			<string>value</string>
			<string>contact</string>
		</array>
        <key>com.apple.contacts.Phone Number</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>value</string>
			<string>type</string>
            <string>label</string>
            <string>contact</string>
		</array>
        <key>com.apple.contacts.Email Address</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>value</string>
			<string>type</string>
            <string>label</string>
            <string>contact</string>
		</array>
        <key>com.apple.contacts.IM</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>service</string>
			<string>user</string>
			<string>type</string>
            <string>label</string>
            <string>contact</string>
		</array>
		<key>com.apple.contacts.Related Name</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>value</string>
			<string>type</string>
            <string>label</string>
            <string>contact</string>
		</array>
		<key>com.apple.contacts.Date</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>value</string>
			<string>type</string>
            <string>label</string>
            <string>contact</string>
		</array>
        <key>com.apple.contacts.Street Address</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>street</string>
			<string>city</string>
			<string>state</string>
			<string>postal code</string>
			<string>country</string>
			<string>country code</string>
			<string>type</string>
            <string>label</string>
            <string>contact</string>
		</array>
		<key>com.apple.mail.Account</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>accountName</string>
			<string>accountType</string>
			<string>addresses</string>
			<string>authenticationScheme</string>
			<string>bigMessageWarningSize</string>
			<string>cachePolicy</string>
			<string>domain</string>
			<string>draftsMailboxName</string>
			<string>fullUserName</string>
			<string>hostname</string>
			<string>ispAccountID</string>
			<string>isSSLEnabled</string>
			<string>numberOfDaysToKeepSentMessages</string>
			<string>numberOfDaysToKeepTrash</string>
			<string>portNumber</string>
			<string>sentMessagesMailboxName</string>
			<string>serverPathPrefix</string>
			<string>shouldMoveDeletedMessagesToTrash</string>
			<string>shouldStoreDraftsOnServer</string>
			<string>shouldStoreJunkOnServer</string>
			<string>shouldStoreSentMessagesOnServer</string>
			<string>shouldStoreTrashOnServer</string>
			<string>shouldUseAuthentication</string>
			<string>smtpIdentifier</string>
			<string>trashMailboxName</string>
			<string>username</string>
		</array>
    </dict>
	<key>PullOnlyEntities</key>
	<array>
		<key>com.apple.mail.Account</key>
	</array>
	<key>Type</key>
	<string>device</string>
</dict>
</plist>
